* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.App-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  > div {
    cursor: pointer;
  }
}


/***** Dark Mode *****/
body.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode-button {
  display: flex;

  > p {
    margin: 0 0.5rem;
    font-size: 1.25rem;
  }
}

/******** Search Inputs *****/
.search-container {
  display: flex;
  justify-content: space-between;
  margin: 3rem;

  > input {
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30rem;
    border: none;

  }
}

.countries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country-card {  
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding: 1rem;

}

.country-card:hover {
  transform: translateY(-10px);  
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
}

h3 {
 margin: 3px 0;
 font-size: 1.8rem;
}

span {
  font-weight: 600;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: black;
}


